.root{
-fx-background-color: #353535;	
}

#MarginField,
#TopField,
#LeftField,
#RightField,
#BottomField{
	-fx-background-color: black;
	-fx-border-color:white;
	-fx-text-fill :white;
	-fx-border-radius:8px;
	-fx-background-radius:8px;
	-fx-border-width:1.5px;
	-fx-pref-height:35px;
}

#MarginField:focused,
#TopField:focused,
#LeftField:focused,
#RightField:focused,
#BottomField:focused{
	-fx-background-color:  #504B4B ;
	
}
.combo-box{
	-fx-pref-height:35px;
	-fx-border-color: #F4F1F1;
	-fx-background-color:black;
	-fx-border-radius:8px;
	-fx-background-radius:8px;
	-fx-border-width:1.5px;
}



.combo-box .list-cell{	
	-fx-text-fill: #F4F1F1;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: black ;
    -fx-text-fill: white ;
    -fx-font-family: "Calibri" ;
    -fx-font-size:15px;
}
.combo-box .combo-box-popup .list-cell:hover {
    
    -fx-background-color:  #504B4B ;
    	-fx-cursor: hand;
}




.label{
-fx-text-fill: white;	
-fx-font-size:14px;
}

.button{
	-fx-border-width:1.5px;
	-fx-border-color: #DBDBDB;
	-fx-text-fill: white;
	-fx-background-color:black;
	-fx-padding: 8px;	
	-fx-border-radius: 15px 0px 0px 15px;
	-fx-background-radius:15px 0px 0px 15px;
	-fx-font-size:15px;
	
}

.button:hover{
	-fx-background-color: #504B4B;
}

#Title{
	-fx-text-fill:#FBF8F8;
	-fx-font-size:30px;
}

#MonoButton{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-radius: 15px 0 0 15px;
	-fx-background-radius:15px 0 0 15px;
	-fx-background-insets: 0;
	-fx-cursor: hand;
}

#PolyButton{
	-fx-background-radius: 0 15px 15px 0;	
	-fx-border-radius: 0 15px 15px 0;  
	-fx-background-color:#504B4B;
	-fx-text-fill: #504B4B;
	-fx-cursor: none;
}



